* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-fit in css
  - cover: The video will be resized to cover the entire container, maintaining its aspect ratio. 
           This may result in some parts of the video being cropped if the aspect ratio of the video 
           does not match that of the container.
  - contain: The video will be resized to fit within the container while maintaining its aspect ratio. 
             This may result in letterboxing (black bars) if the aspect ratio of the video does not 
             match that of the container.
  - fill: The video will be resized to fill the entire container, ignoring its aspect ratio. 
          This may result in distortion if the aspect ratio of the video does not match 
          that of the container.
  - none: The video will not be resized and will maintain its original dimensions. 
          If the video is larger than the container, it will overflow. 
          If it is smaller, there will be empty space around it.
  */
}

.actions-container {
  height: 10rem;
  width: 4rem;
  position: absolute;
  top: calc(100vh / 2 - 5rem);
  right: 2rem;
  color: #fff;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.actions-container > * {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
}

.action-btn > * {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.record-btn {
  background-color: red;
}

.capture-btn {
  background-color: lightblue;
}

/* Animation for scaling buttons when clicked
 - when the button is clicked, it will scale down to 0.8 and then back to 1
 - this is done by adding a class to the button and then removing it after the animation is complete
*/
.scale-record {
  animation: scale-button 1s infinite;
  /* animation-name: <animation-name>;
  animation-iteration-count: <number of iterations | infinite>;
  animation-duration: <duration>;
   */
}

.scale-capture {
  animation-name: scale-button;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes scale-button {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

.timer-container {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
}

#timer {
  display: none;
}

.filter-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  height: 5rem;
}

.filter-btn {
  background-image: url("https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI");
  height: 100%;
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-color: rgba(255, 255, 255, 0.5);
}

.orange {
  background-color: rgba(255, 165, 0, 0.5);
}
.sepia {
  background-color: rgba(112, 66, 20, 0.5);
}

.grayscale {
  background-color: rgba(128, 128, 128, 0.5);
}
.invert {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-blend-mode: difference; */
}

.filter-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
}
